[package]
name = "bdk-cli"
version = "0.2.1-dev"
edition = "2018"
authors = ["Alekos Filini <alekos.filini@gmail.com>", "Riccardo Casatta <riccardo@casatta.it>", "Steve Myers <steve@notmandatory.org>"]
homepage = "https://bitcoindevkit.org"
repository = "https://github.com/bitcoindevkit/bdk-cli"
documentation = "https://docs.rs/bdk-cli"
description = "A CLI library and example CLI tool based on the BDK descriptor-based wallet library"
keywords = ["bitcoin", "wallet", "descriptor", "psbt"]
readme = "README.md"
license = "MIT"

[dependencies]
bdk = { version = "0.10.0", default-features = false, features = ["all-keys"]}
bdk-macros = "^0.4"
structopt = "^0.3"
serde_json = { version = "^1.0" }
log = "^0.4"
base64 = "^0.11"
zeroize = { version = "<1.4.0" }

# Optional dependencies
rustyline = { version = "6.0", optional = true }
dirs-next = { version = "2.0", optional = true }
env_logger = { version = "0.7", optional = true }
clap = { version = "2.33", optional = true }
regex = {version = "1", optional = true }

[features]
default = ["cli", "repl"]
cli = ["bdk/key-value-db", "clap", "dirs-next", "env_logger"]
repl = ["regex", "rustyline"]
electrum = ["bdk/electrum"]
esplora = ["bdk/use-esplora-ureq"]
compiler = ["bdk/compiler"]
async-interface = ["bdk/async-interface"]
compact_filters = ["bdk/compact_filters"]

[[bin]]
name = "bdk-cli"
path = "src/bdk_cli.rs"
required-features = ["cli"]

[package.metadata.docs.rs]
features = ["compiler", "electrum"]
