on: [push, pull_request]

name: CI

permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
jobs:

  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable # STABLE
        features:
          - --features default
          - --no-default-features
          - --all-features
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          components: rustfmt, clippy
          cache: true
      - name: Build
        run: cargo build ${{ matrix.features }}
      - name: Test
        run: cargo test ${{ matrix.features }}
  clippy:
    name: Clippy (${{ matrix.features }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - --no-default-features
          - --all-features
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: clippy
          cache: true
      - name: Run Clippy
        run: cargo clippy ${{ matrix.features }} --all-targets -- -D warnings

  wasm-build:
    name: Check WASM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          cache: true
          target: wasm32-unknown-unknown
      - name: Check WASM
        run: cargo check --target wasm32-unknown-unknown --no-default-features --features esplora,compiler
  fmt:
    name: Rust fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt, clippy
          cache: true
      - name: Check fmt
        run: cargo fmt --all -- --check
